{% extends "zola-pickles/templates/index.html" %}
{% block css -%}
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
<link rel="stylesheet" href="{{ get_url(path="base.css") }}" />
<link rel="stylesheet" href="{{ get_url(path="notes.css") }}" />
<link rel="stylesheet" href="{{ get_url(path="math.css") }}" />
<link rel="stylesheet" href="{{ get_url(path="tables.css") }}" />
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
<link href="{{ get_url(path="fontawesome/fontawesome.css") }}" rel="stylesheet">
<link href="{{ get_url(path="fontawesome/brands.css") }}" rel="stylesheet">
<link href="{{ get_url(path="fontawesome/solid.css") }}" rel="stylesheet">
{%- endblock css %}
{% block footer -%}
<p class="p-copyright">
    {% if config.extra.copyright -%}
    {% set content = config.extra.copyright | markdown(inline=true) %}
    {{ content | safe }}
    {%- endif %}
</p>
    <p style="text-align:center"><a href="https://twitter.com/MuireallPrase" rel="me">Twitter</a>
    ☙  <a href="mailto:muireall.prase@protonmail.com" rel="me">Email</a>  ❧ <a href="https://github.com/muireall" rel="me">GitHub</a></p>
    <p style="text-align:center"> <a class="h-card u-url" rel="me" href=https://muireall.space">Muireall Prase</a> </p>
{%- endblock footer %}